.contacts-container {
    display: flex;
}

.book-service-section {
    width: 55%;
    background-color: #191C26;
    padding: 130px 40px 50px;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-top: 44px;
}

.form-group {
    display: flex;
    gap: 30px;
}

.form-group > * {
    flex-grow: 1;
}

.form-elements {
    color: #fff;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;


    background: none;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.40);
    padding-bottom: 8px;
}

.form-elements::placeholder {
    color:rgba(157, 164, 189, 0.40);
}

.form-elements:hover,
.form-elements:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

.form-elements:hover::placeholder,
.form-elements:focus::placeholder {
    color: #fff;
}

.contacts-section {
    height: 644px;
    color: #fff;
    width: 45%;
    padding: 130px 100px;

    background-color: rgba(25, 28, 38, 0.85);
    background-image:linear-gradient(rgba(17, 19, 25, 0.8),
    rgba(17, 19, 25, 0.8)),
    url("../images/contacts-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-icons {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.contacts-address-mail {
    text-decoration: underline;
}

.contacts-address {
    color: #9DA4BD;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    display: flex;
    align-items: center;
}

.contacts-subtitle {
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.contacts-content {
    margin-bottom: 40px;
    margin-top: 70px;
}

.contacts-paragraph {
    color: #9DA4BD;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
    letter-spacing: 0.36px;
}
