:root {
  --primary-color: #FF6C00;
  --dark-color: #303030;
  --light-color: #fff;
  --gray-color: #9DA4BD99;
  --paragraph-color: #555;
  --header-font-family: "Raleway";
  --body-font-family: "Open Sans";
}

/*Global styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--body-font-family);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/*Classes*/
.container {
  max-width: 1280px;
  margin: auto;
}

.hero-section {
  height: 680px;
  display: flex;
}

.hero-container {
  background-color: #090B13;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  position: relative;
}

.hero-carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-carousel-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transform: translateY(-100%);
}

.hero-carousel-content {
  z-index: 1;
  position: relative;
  padding: 40px 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero-header {
  display: flex;
  justify-content: space-between;
}

.hero-control-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.hero-buttons {
  background: none;
  border: none;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.hero-dark-button {
  color: var(--gray-color);
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  text-align: start;
}

.hero-light-button {
  color: var(--light-color);
  border-bottom: 1px solid rgb(255, 255, 255);
  text-align: end;
}

.sidebar-container {
  width: 155px;
  padding: 32px 32px 40px 55px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.social-media-link {
  color: var(--dark-color);
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.social-media-element {
  transform: rotate(-90deg);
}

.social-media-link:hover,
.social-media-link:focus {
  color: var(--primary-color);
}

.social-media-element:first-child {
  margin-bottom: 80px;
}

.sidebar-divider {
  margin-top: 80px;
  padding-top: 10px;
  transform: rotate(-90deg);
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

.nav-link {
  color: var(--dark-color);
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-color);
}

.nav-link-active {
  color: var(--primary-color);
}

.header-cta {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 64px;
}

.address-contacts {
  color: var(--dark-color);
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.address-contacts:hover,
.address-contacts:focus {
  color: var(--primary-color);
}

.book-service-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--primary-color);
  width: 160px;
  height: 40px;
  border-radius: 25px;
  font-family: var(--body-font-family);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
}

.book-service-button-dark {
  color: var(--dark-color);
}

.book-service-button-light {
  color: var(--light-color);
}

.book-service-button:hover,
.book-service-button:focus {
  background-color: var(--primary-color);
}

.hero-content > :nth-child(n+2) {
  margin-top: 20px;
}

.subtitle-container {
  display: flex;
  gap: 20px;
}

.subtitle {
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.subtitle-light {
  color: var(--gray-color);
}

.subtitle-dark {
  color: var(--dark-color);
}

.hero-title {
  font-family: var(--header-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

.title {
  font-family: var(--header-font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
}

.title-dark {
  color: var(--dark-color);
}

.title-light {
  color: var(--light-color);
}

.hero-paragraph {
  color: var(--gray-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.phone-logo {
  fill: white;
}

.hambuger-menu-close-button {
  display: block;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: #303030;
}

@media screen and (width < 1158px) {
  .nav-hambuger-menu {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  .is-hidden {
    visibility: hidden;
  }
  .hero-navbar-menu {
    visibility: hidden;
    position: fixed;
    background-color: white;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 48px 31px 0 40px;
  }
}
@media screen and (width >= 768px) {
  .subtitle-container {
    justify-content: flex-start;
  }
  .hero-carousel-content {
    padding: 40px 39px 40px 120px;
  }
  .sidebar-container {
    display: flex;
  }
  .phone-logo {
    display: none;
  }
}
@media screen and (width >= 1158px) {
  .nav-hambuger-menu {
    display: none;
  }
  .hambuger-menu-close-button {
    display: none;
  }
  .hero-navbar-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .nav-list {
    flex-direction: row;
    gap: 40px;
  }
  .nav-link {
    color: var(--light-color);
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .header-cta {
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  .address-contacts {
    color: var(--light-color);
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .book-service-button {
    color: var(--light-color);
  }
  .title {
    font-size: 42px;
    letter-spacing: 2.1px;
  }
  .hero-title {
    font-size: 72px;
    letter-spacing: 3.6px;
  }
  .subtitle-container {
    justify-content: flex-start;
    margin-left: 0;
  }
}/*# sourceMappingURL=hero.css.map */